.summaryTab {
    position: fixed;
    width: 460px;
    height: 80vh;
    right: 10%;
    top: 10%;
    background-color: #002145;
    z-index: 10;
    padding: 12px;
    overflow: hidden;
}

.course {
    position: relative;
    top: 10px;
    width: 69.5%;
    float: left;
    padding: 20px;
    border: 2px solid #002145;
    background-color: white;
    text-align: center;
}


.remove {
    position: relative;
    left: 0px;
    width: 125px;
    height: 69px;
    line-height: 15px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: tomato;
}

.remove:hover {
    background-color: rgb(253, 209, 209);
    transition: 0.5s;
}

.toggleoff {
    position:fixed;
    height: 80px;
    width: 45px;
    left: 90%;
    top: 40%;
    background-color: #002145;
    z-index: 10;
    cursor: pointer;
}

.toggleon {
    position:fixed;
    height: 80px;
    width: 45px;
    right: 0%;
    top: 42.5%;
    background-color: #002145;
    z-index: 10;
    cursor: pointer;
}

.arrow {
    fill: white;
    cursor: pointer;
    height:2em;
    width: 2em;
    z-index: 10;
    position: relative;
    left: 15%;
    top: 30%;
}

.back {
    fill: white;
    cursor: pointer;
    height:2em;
    width: 2em;
    z-index: 10;
    position: relative;
    top: 30%;
}

.arrow:hover {
    height: 2.2em;
    width: 2.2em;
    transition: 0.1s linear;
}

.filler {
    position: relative;
    top: 10px;
    width: 98.5%;
    float: left;
    padding: 8px;
    border: 2px solid #002145;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.filler:hover {
    background-color: rgb(172, 194, 255);
    transition: 0.5s;
}

.emptyText {
    position: relative;
    top: 42.5%;
    color: white;
    text-align: center;
}

.locations {
    color: white;
}