.app {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.checkpoint {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #002145;
    color: white; */
}

.checkpoint h4, p {
    /* background-color: #002145; */
}

.popupCourse {
    text-align: center;
}

.popup-content {
    position: relative;
    background: #002145;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 10px 10px 0px;
    pointer-events: auto;
}

.content {
    text-align: center;
}

.room:hover {
    color: rgb(172, 170, 170);
    font-size: 60px;
}

label {
    color: #002145;
    font-size: 12px;
    border-bottom: 1px solid;
}
